// Colours

$light-pink: hsl(321, 100%, 78%);
$pink: hsl(322, 100%, 66%);
$light-red: hsl(0, 100%, 63%);

$dark-cyan:hsl(192, 100%, 9%);
$pale-blue: hsl(207, 100%, 98%);

// Fonts 

$header-font: 'Poppins', sans-serif;
$body-font: 'Open Sans', sans-serif;



