@import '../../Sass/Variables.scss';

.Section5Container {
    background-image: url('../../Assets/bg-section-bottom-desktop-1.svg'), url('../../Assets/bg-footer-top-desktop.svg');
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 60vh;
    padding-top: 15%;
    font-family: $header-font;


    button {
        width: 20%;
        background-color: $pink;
        border: none;
        font-family: $body-font;
        color: $pale-blue;
        font-size: 1.2rem;
        padding: 20px;
        font-weight: 700;
        border-radius: 30px;
        margin-top: 1%;
        -webkit-box-shadow: -3px -2px 40px -20px rgba(74,73,74,1);
        -moz-box-shadow: -3px -2px 40px -20px rgba(74,73,74,1);
        box-shadow: -3px -2px 44px -20px rgba(74,73,74,1);
        cursor: pointer;

       
        
    }

    button:hover {
        background-color: $light-pink;
    }
}

//Large Tablet 

@media only screen and (max-width : 1024px) {
    .Section5Container {
        min-height: 30vh;
        padding-top: 20%;

        button {
            width: 50%;
        }
    }


}



//Tablet 

@media only screen and (max-width : 991px) and (max-width : 1023px) {
    
    .Section5Container {
        min-height: 35vh;
        padding-top: 20%;

        button {
            width: 50%;
        }
    }

  
}






//Mobile 


@media only screen and (min-width : 300px) and (max-width : 767px) {





    .Section5Container {

        background-image: url('../../Assets/bg-section-bottom-mobile-1.svg'), url('../../Assets/bg-footer-top-mobile.svg');
        background-position: top, bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 40vh;
        padding-top: 15%;
        font-family: $header-font;

        button {
            width: 70%;     
        }
    }

 

  
}




  